
body{
    font-family: "Raleway", sans-serif;
    margin: 0px;
}

a{
    text-decoration: none;
    color:black;
}
.legende /*hotels & activites names*/
{font-weight: bold;}

figure /*all figures*/
{
    border-radius: 20px;
    margin: 15px;
    padding: 5px;
}
#pagecontainer /*common margin for header and main*/
{width: 95%;
margin:auto;}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    width: 100px;
}
#menu{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    margin-right: 20px;
}

nav ul{
    display: flex;
}

li{
    list-style-type:none;
}
li a{
    padding: 20px 50px 20px 50px;
}

nav a:hover{
    border-top: 2px solid blue;
    color: blue;
    font-weight: bold;
}

.sinscrire a {
    font-weight:bold;
    color:blue;
    padding-left:50px;
}

#boxsearch{
    display: flex;
    height: 50px;
}
.fa-map-marker-alt/*location icon*/{
    background-color:#f2f2f2;
    padding: 15px 15px 10px 20px;
    border-radius: 15px 0px 0px 15px;
}
input{
    border: 1px solid #f2f2f2;
    width: 200px;
    font-weight: bold;
    color: black;
    text-indent: 5px;
}
label/*serch button*/
{background-color: blue;
color: white;
padding: 15px 15px 0px 15px;
border-radius: 0px 15px 15px 0px;
font-weight: bold;}

.fa-search{visibility: hidden;}

#filters{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.titre{margin: 5px 45px 0px 5px;}

#boxfiltres{
    display: flex;
    flex-wrap:wrap;
}
.filtre /*four buttons*/
{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    border:2px #f2f2f2 solid;
    margin: 10px 40px 10px 00px;
    padding-right: 35px;
    
}

.filtre i /*4 filter icon*/
{
    background-color: #deebff;
    color: blue;
    font-size: 1.3em;
    border-radius: 27px;
    padding:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    margin-right: 10px;
}
.filtre:hover{
    color: white;
    background-color: blue;
}

#info{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;

}

.fa-info /*info icon*/
{
    color: blue;
    border-radius: 30px;
    padding: 4px 10px 5px 10px;
    border: 2px #f2f2f2 solid;
    margin-right: 10px;
}

/*sectionhebergement*/
/*2bloc beside each other*/
#sectionhebergement {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.fa-star{
    color: blue;
    font-size: 0.8em;
}

.greystar{
    color:#f2f2f2;
}
/*hotels bloc*/
#hotels{
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 10px;
    padding: 20px 0px 30px 20px;
}

#hotels h2{
    margin-left: 25px;
}
#afficher{
    margin-left: 25px;
    font-weight: bold;
}
/*cards*/
#cards{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    justify-content: space-around;
}
/*box size*/
.boxcard{
    width: 30%;
    min-width: 200px;
    margin-left: 15px;
    margin-right: 15px;
}
.boxcard figure{
    background-color: white;
    min-width: 200px;
    box-shadow: #c3c3c3 10px 10px 10px ;
}
.boxcard:hover{
    transform: scale(1.05);
}

.boxcard figure img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.boxcard figcaption{
    margin-left: 15px;
}

/*aside*/
aside{
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 20px;
    padding-bottom: 20px
    ;
}
/*title-icone*/
#populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px 0px 35px;
}
#populaires i {
    font-size: 1.3em;
}

#cardspop{
    margin: 0px 5px 20px 15px;
}
.boxpop {
    display: flex;
    height: 200px;
    min-width: 320px;
    margin-right: 15px;
}
.boxpop figure{
    display: flex;
    background-color: white;
    box-shadow: #c3c3c3 10px 10px 10px;
}
.boxpop img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
.boxpop figcaption{
    margin-left: 15px;
}
.boxpop:hover{
    transform: scale(1.03);
}

/*sectionactivites*/
#sectionactivites{
    display: flex;
    flex-direction: column;
}
#activites{
    display: flex;
}
#activites figcaption
{padding-left: 15px;}

.boxactivite-A figure{
    height: 550px;
    box-shadow: #f2f2f2 10px 10px 10px;
}
.boxactivite-A{
    width: 25%;
}
.boxactivite-A img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.boxactivite-B{
    width: 25%;
}
.activite1{
    height: 310px;
    box-shadow: #f2f2f2 10px 10px 10px;
}
.activite1 img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.activite2{
    height: 210px;
    box-shadow: 10px 10px 10px #f2f2f2;
}
.activite2 img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.boxactivite-A:hover{
    transform: scale(1.03);
}
.activite1:hover{
    transform: scale(1.03);
}
.activite2:hover{
    transform: scale(1.03);
}
.star {
    margin: 0 0.75rem 0.25rem 0.75rem;
}

  .star_check {
        color: #0065fc;
             }

  .star_uncheck{
            color: #d9d9d9;
            
    }
/*****/
footer{
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 30px;
}
/*************************/
/*tablette */
@media screen and (min-width:768px) and (max-width: 1024px)
{
    /*menu in 2lines -inscrire link on top*/
    #menu{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 2%;
    }
    nav a:hover{
        border-top: hidden;
        border-bottom: 2px solid blue;
    }
    .sinscrire{
        margin-top:auto;
        margin-left: 50%;
        
    }
    #sectionhebergement{
        flex-direction: column-reverse;
    }
    #hotels{
        background-color: white;
        align-items: center;
    }
    #hotels h2 /*hebergement à marseille*/{
        margin-left:1%;
    }

    .star {
        margin: 0 0.75rem 0.25rem 0.75rem;
    }
    
      .star_check {
            color: #0065fc;
                 }
    
      .star_uncheck{
                color: #d9d9d9;
                
        }
        aside{
            width: 100%;
            border-radius: 0px;
            margin: auto;
            padding-right: 10px;
        }
        #cardspop{
            width: 97%;
            margin: auto;
            padding-right: 2%;
            justify-content: center;
        }
        #boxpop{
            display:flex;
            width: 100%;
            height: 200px;
            font-size: 13px;
        }
        .boxpop figure{
            display:flex;
            width: 100%;
            font-size: 18px;
        }
        .boxpop img{
            min-width: 40%;
        }
        aside{
            border-radius: 0px;
            margin-right: 5%;
        }
        #populaires{
            padding-left: 3%;
        }
        .fa-chart-line{
            padding-right: 3%;
        }
   /************************/
   #sectionactivites h2{
    margin-left: 2%;
}
#activites{
    flex-direction: column;
    width: 95%;
    margin-right: 5%;
    align-items: center;
}
.boxactivite-A{
    width: 100%;
}
.boxactivite-A figure{
    height: 200px;
}
.boxactivite-A img{
    height: 155px;
}
.boxactivite-B{
    width: 100%;
}
.activite1{
    height: 200px;
}
.activite2{
    height: 200px;
}
.boxactivite-B img{
    height: 155px;
}
#activites figcaption{
    font-size: 0.9em;
}

footer{
    width: 100%;
    flex-direction:column;
    margin:auto;
    font-size: 0.9em;
    padding-left: 2%;
}
    

}
    


/***smartphone*/
@media screen and (min-width:320px)and (max-width:767px){
    #pagecontainer{
        width:98%;
    }
    header{
        display:block;
        justify-content: space-between;
        flex-wrap: wrap;
        /*padding-top: 10px;*/
        padding-bottom: 10px;
    }
    h2{
        font-size: 20px;
    }
    #menu{
        flex-direction: column-reverse;
        align-items:center;
        font-size: 15px;
    }
    nav a:hover{
        border-top: hidden;
        border-bottom: 1.8px solid blue;
    }
    .sinscrire{
    
       position:absolute;
       top: 27px;
       right: 11%;
    }
    #searchsection{
        margin-left: 15px;
    }
    label/*button */
    {border-radius: 15px 15px 15px 15px;
    margin-left: -15px;}
    .fa-search{
        visibility: visible;
    }
    .recherche{display: none;}
   
    .filtre{
        margin: 5px 15px 5px 0px;
        padding-right: 10px;
        font-size: 12px;
        border: 1.8px solid #dddbdb;
    }
    #sectionhebergement{
        flex-direction: column-reverse;
    }
    #hotels{
        background-color: white;
    }

    aside{
        border-radius: 0px;
        margin-left: 0px;
    }
    #populaires{
        padding-left: 25px;
        
    }
    #cardspop{
        margin: auto;
    }
    .boxpop img{
        min-width: 40%;
    }
    #hotels{
        max-width: 100%;
        padding: 15px 10px 0px 0px;
    }
    .boxcard{
        width: 100%;
        margin-left: 0px;
    }  
    .boxcard figure{
        width: 100%;
        height: 200px;
        font-size: 13px;
    }
    .boxcard figure img{
        height: 110px;
    } 
    /************************/
    #sectionactivites h2{
        margin-left: 30px;
    }
    #activites{
        flex-direction: column;
        width: 98%;
    }
    .boxactivite-A{
        width: 100%;
    }
    .boxactivite-A figure{
        height: 200px;
    }
    .boxactivite-A img{
        height: 155px;
    }
    .boxactivite-B{
        width: 100%;
    }
    .activite1{
        height: 200px;
    }
    .activite2{
        height: 200px;
    }
    .boxactivite-B img{
        height: 155px;
    }

    footer{
        width: 100%;
        flex-direction: column;
        padding-left: 30px;
        font-size: 0.9em;
        margin-top: 10px;
    }
}     




